.clock, .date {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
}

.date-time {
    background-color: orange;
    color: white;
    width: 300px;
    border: 1px solid black;
}

